<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= include_gon %>
  <%= javascript_include_tag "d3.v3.min" %>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
  <%= favicon_link_tag "favicon.ico" %>

  <% if content_for?(:head) %>
      <%= yield(:head) %>
  <% else %>
      <meta name="description" content="Vax! is a puzzle-game infused with chance that was inspired by real-world challenges, infectious disease modeling, and addictively rewarding gameplay.">

  <% end %>
</head>


<body>
<div>  <%= yield %> </div>
</body>
</html>